.card {
  display: flex;
  flex-direction: column;
  border: chartreuse 2px solid;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
  align-items: center;
}
.card__product-name {
  font-weight: bold;
  font-size: large;
}

.card:hover {
  background-color: rgba(127, 255, 0, 0.09);
}

.card__image {
  width: 200px;
}
