<div id="register-container">
  <h1>Registration</h1>
  <form (ngSubmit)="onRegister()">

        <label>Name</label>
        <input placeholder="Name" name="name" [(ngModel)]="name">

        <label>Username</label>
        <input placeholder="Username" name="username" [(ngModel)]="username">

        <label>Email</label>
        <input placeholder="Email" name="email" [(ngModel)]="email">

        <label>Password</label>
        <input type="password" placeholder="Password" name="password" [(ngModel)]="password">

        <label>Confirm password</label>
        <input type="password" placeholder="Password" name="confirmPassword" [(ngModel)]="confirmPassword">

      <button type="submit">Register</button>
  </form>
</div>
