.details__data {
  width: 500px;
  text-align: center;
  padding: 20px 30px 20px 30px;
  margin: 30px;
  border-radius: 10px;
  border: chartreuse 1px solid;
}

.details-data__product-name {
  font-size: 26px;
  font-weight: bold;
  //padding: 10px;
}

.image {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.details-data__size-duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details-data__tags {
  text-align: left;
  word-wrap: break-word;
  padding-top: 20px;
}


