<div class="container">
  <div class="profile__title">My profile</div>
  <ng-container *ngIf="userData">
    <user-data [user]="userData"></user-data>
  </ng-container>
  <div class="profile__file-lists">
    <ng-container *ngIf="userFiles">
      <user-file-list
        [files]="userFiles"
        [title]="'My uploads'"
        (deleteFile)="onFileDeleteSubmit($event)"
      ></user-file-list>
    </ng-container>
    <ng-container *ngIf="isAdmin">
      <ng-container *ngIf="otherFiles">
        <user-file-list
          [files]="otherFiles"
          [title]="'Other uploads'"
          (deleteFile)="onFileDeleteSubmit($event)"
        ></user-file-list>
      </ng-container>
    </ng-container>
  </div>
</div>
