<div id="user-card" *ngFor="let user of users" (click)="selectUser(user)">
    <h2>Name: {{user.name}}</h2>
    <h2>Username: {{user.username}}</h2>
    <h2>Email: {{user.email}}</h2>
    <h2>Roles: {{user.roles}}</h2>
</div>

<div id="overlay" *ngIf="userSelected" >
    <h2>Name: {{selectedUser.name}}</h2>
    <h2>Username: {{selectedUser.username}}</h2>
    <h2>Email: {{selectedUser.email}}</h2>
    <h2>Roles: {{selectedUser.roles}}</h2>
    <input type="radio" name="isAdmin" [checked]="isUser" value="false" (change)="onRoleChange($event)"> User
    <input type="radio" name="isAdmin" [checked]="isAdmin" value="true" (change)="onRoleChange($event)"> Admin

    <button type="submit" (click)="closeUser()">Mentés</button>
</div>
