<nav class="nav-bar">
<ng-container *ngIf="loggedIn; else loggedOut">
  <div class="nav-buttons">
    <a [routerLink]="['/']" class="nav-button">File browser</a>
    <a [routerLink]="'/profile'" class="nav-button">My profile</a>
  </div>
  <div class="auth-buttons">
    <button (click)="onLogout()">Log out!</button>
  </div>
</ng-container>

<ng-template #loggedOut>
  <div class="nav-buttons">
    <a [routerLink]="['/']" class="nav-button">Home</a>
  </div>
  <div class="auth-buttons">
    <button>Log in</button>
    <button>Register</button>
  </div>
</ng-template>
</nav>
